* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

body {
  background-color: #efeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.page {
  padding: 10px 10px 20px 10px;
}

.main {
  margin-top: 20px;
}